nodered.txt
[{"id":"b173d84d.0e49e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ab5a0907.b6bf38","type":"inject","z":"b173d84d.0e49e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":220,"wires":[["c288f57f.ca48c8"]]},{"id":"c288f57f.ca48c8","type":"debug","z":"b173d84d.0e49e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":240,"wires":[]},{"id":"bbbd0ae8.7920b8","type":"ibmiot in","z":"b173d84d.0e49e8","authentication":"apiKey","apiKey":"c2c4f527.ed7658","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"231299","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":340,"wires":[["5d70706d.c2251","edd200dc.253b9","4f8a9e2d.b3941"]]},{"id":"5d70706d.c2251","type":"function","z":"b173d84d.0e49e8","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["c288f57f.ca48c8","b0d418c2.c04278"]]},{"id":"b0d418c2.c04278","type":"ui_gauge","z":"b173d84d.0e49e8","name":"","group":"bb93e0f1.dc75c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":280,"wires":[]},{"id":"cfff1295.782d1","type":"ui_button","z":"b173d84d.0e49e8","name":"","group":"bb93e0f1.dc75c","order":7,"width":0,"height":0,"passthru":false,"label":"SPRINKLEROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"SPRINKLEROFF\"}","payloadType":"json","topic":"","x":210,"y":640,"wires":[["2320e1e0.7c861e"]]},{"id":"4c286a7b.194114","type":"ui_button","z":"b173d84d.0e49e8","name":"","group":"bb93e0f1.dc75c","order":4,"width":0,"height":0,"passthru":false,"label":"FANON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"FANON\"}","payloadType":"json","topic":"","x":180,"y":520,"wires":[["2320e1e0.7c861e"]]},{"id":"2320e1e0.7c861e","type":"ibmiot out","z":"b173d84d.0e49e8","authentication":"apiKey","apiKey":"c2c4f527.ed7658","outputType":"cmd","deviceId":"231299","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":580,"wires":[]},{"id":"c4461862.239d08","type":"ui_button","z":"b173d84d.0e49e8","name":"","group":"bb93e0f1.dc75c","order":5,"width":0,"height":0,"passthru":false,"label":"FANOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"FANOFF\"}","payloadType":"json","topic":"","x":200,"y":560,"wires":[["2320e1e0.7c861e"]]},{"id":"9c5ac0b0.900cd","type":"ui_button","z":"b173d84d.0e49e8","name":"","group":"bb93e0f1.dc75c","order":6,"width":0,"height":0,"passthru":false,"label":"SPRINKLERON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"SPRINKLERON\"}","payloadType":"json","topic":"","x":200,"y":600,"wires":[["2320e1e0.7c861e"]]},{"id":"edd200dc.253b9","type":"function","z":"b173d84d.0e49e8","name":"Gas threshold","func":"global.set('Gas_threshold',msg.payload.Gas_threshold)\nmsg.payload=msg.payload.Gas_threshold\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["62c6d190.2c801","c288f57f.ca48c8"]]},{"id":"62c6d190.2c801","type":"ui_gauge","z":"b173d84d.0e49e8","name":"","group":"bb93e0f1.dc75c","order":3,"width":0,"height":0,"gtype":"gage","title":"gas threshold","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":400,"wires":[]},{"id":"4f8a9e2d.b3941","type":"function","z":"b173d84d.0e49e8","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["c288f57f.ca48c8","1a57ea28.0403e6"]]},{"id":"1a57ea28.0403e6","type":"ui_gauge","z":"b173d84d.0e49e8","name":"","group":"bb93e0f1.dc75c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":340,"wires":[]},{"id":"82ca51b9.b7a64","type":"http in","z":"b173d84d.0e49e8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":220,"y":720,"wires":[["762afe46.0c22"]]},{"id":"ac989331.45d4b","type":"http response","z":"b173d84d.0e49e8","name":"","statusCode":"","headers":{},"x":640,"y":720,"wires":[]},{"id":"762afe46.0c22","type":"function","z":"b173d84d.0e49e8","name":"data","func":"msg.payload={'Temperature_value':global.get(\"Temperature\"),'Humidity_value':global.get(\"Humidity\"),'Gas threshold_value':global.get(\"Gas_threshold\")}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["ac989331.45d4b"]]},{"id":"83070aa9.4e7a08","type":"http in","z":"b173d84d.0e49e8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":220,"y":780,"wires":[["576f8e5f.714fa"]]},{"id":"ba93c7f6.5efba8","type":"http response","z":"b173d84d.0e49e8","name":"","statusCode":"","headers":{},"x":620,"y":780,"wires":[]},{"id":"576f8e5f.714fa","type":"function","z":"b173d84d.0e49e8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":780,"wires":[["ba93c7f6.5efba8","15ed3308.f356fd"]]},{"id":"15ed3308.f356fd","type":"debug","z":"b173d84d.0e49e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":900,"wires":[]},{"id":"c2c4f527.ed7658","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"bb93e0f1.dc75c","type":"ui_group","z":"","name":"Default","tab":"d62e8287.2d7e5","order":1,"disp":true,"width":"6","collapse":false},{"id":"d62e8287.2d7e5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]